body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #ffd700;
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.main-content {
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #000000;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #333333;
    text-align: center;
}

.subheading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    color: #333333;
    margin-top: 30px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

.button-container {
    text-align: center; /* Центрируем кнопку в контейнере */
    margin-top: 20px; /* Добавляем отступ сверху */
}

.button {
    display: inline-block; /* Делаем кнопку строчным блочным элементом */
    padding: 10px 20px; /* Добавляем внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание текста */
    color: #fff; /* Цвет текста белый */
    background-color: #f7c600; /* Желтый цвет фона */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    text-decoration: none; /* Убираем подчеркивание текста */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона при наведении */
}

.button:hover {
    background-color: #f4b900; /* Цвет фона при наведении */
}

.button:active {
    background-color: #e0a800; /* Цвет фона при нажатии */
}
≠