<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Консультация для подростков</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            КОНСУЛЬТАЦИЯ ДЛЯ ПОДРОСТКОВ 12+ ЛЕТ
        </div>
        <div class="main-content">
            <h1>Получите стипендию в топовых ВУЗах Мира с нами!</h1>
            <h2>Личная консультация для школьников</h2>
            <p class="subheading">Как опередить других и получить место в топовом вузе?</p>
            <p>Получайте стабильные и высокие результаты в учебе с помощью индивидуальной стратегии подготовки, даже если ваш ребенок сталкивался с проблемами мотивации и уверенности в своих силах.</p>
            <p>Если у вас не получается обойти конкурентов в Казахстане, значит нужно поставить цель - выйти на мировой уровень!</p>
            <h3>Проблема</h3>
            <p>Ваш ребенок не может обойти одноклассников, и это длится годами? Думаете бросить учебу, потому что не догнать конкурентов? Такие мысли могут возникать на основе прошлого опыта ошибок и достижений.</p>
            <h3>Решение</h3>
            <p>Я занимаюсь подготовкой ментала отстающих в учебе и спорте с 2008 года. Мой опыт охватывает чемпионаты РК, чемпионаты мира, подготовку к олимпиадам и поступление в топовые ВУЗы. За это время я помог сотням детей.</p>
            <p>Теперь я предлагаю 40-минутную онлайн-консультацию, включающую:</p>
            <h3>Диагностику и анализ</h3>
            <p><b>Что будем делать:</b> Проведем детальную диагностику текущего состояния вашего ребенка, включая его ментальные и академические показатели, а также анализ его прошлых результатов.</p>
            <p><b>Какой результат:</b> Определим ключевые проблемы и области, требующие улучшения, чтобы создать базу для дальнейшей работы.</p>
            <h3>Разработку индивидуальной стратегии</h3>
            <p><b>Что будем делать:</b> На основе диагностики разработаем индивидуальную стратегию подготовки к экзаменам и поступлению в вузы, включающую методы повышения мотивации, укрепления уверенности и управления стрессом.</p>
            <p><b>Какой результат:</b> Ваш ребенок получит четкий план действий, направленный на улучшение его ментальных и академических показателей, что поможет ему уверенно готовиться и показывать высокие результаты.</p>
            <h3>Практическое применение и корректировка</h3>
            <p><b>Что будем делать:</b> Наметим практические упражнения и занятия, направленные на реализацию разработанной стратегии. Внесем необходимые корректировки и адаптации по мере необходимости.</p>
            <p><b>Какой результат:</b> Ваш ребенок освоит конкретные техники и навыки, которые помогут ему лучше подготовиться к стрессовым ситуациям, сохранять мотивацию и уверенность в себе, показывать высокие результаты на экзаменах и в учебе.</p>
            <h3>Осязаемые результаты</h3>
            <p>За время консультации мы разработаем индивидуальную стратегию подготовки к экзаменам и поступлению в вузы, что поможет вашему ребенку показать свои лучшие результаты и выделиться среди конкурентов. Осязаемые результаты станут приятным на вкус плодом его стараний и нашего сотрудничества.</p>
            <h3>Наше конкурентное преимущество</h3>
            <p>Основная масса не знает о наших технологиях подготовки ментала, в этом наше конкурентное преимущество.</p>
            <p>Теперь я провожу платные консультации, на которые отбираю тех, кто чувствует в себе потенциал и хочет его раскрыть. Эффективность моей работы достигает 96% успешности.</p>
            <h3>Гарантия качества</h3>
            <p>Если после встречи вы будете недовольны результатом, я верну вам стоимость консультации, и мы расстанемся друзьями.</p>
            <h3>Заключение</h3>
            <p>У меня мало времени на личную работу, и доступных мест немного. Если они будут заняты, вы сможете записаться в список ожидания.</p>
            <p>Настроив ментал на повышение академической успеваемости и уверенности, ваш ребенок сможет обойти конкурентов, и эта сила будет только расти при следовании верной стратегии.</p>
            <p>Для определения личного потенциала роста, чтобы обойти конкурентов и получить стипендию в топовом вузе, нажмите на кнопку "Подать заявку" и проверьте наличие мест через Telegram.</p>
        </div>
        <div class="button-container">
            <a href="https://t.me/Malik_assistant_bot" class="button">Подать заявку на консультацию</a>
        </div>
    </div>
</body>
</html>
