<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Консультация для подростков</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            КОНСУЛЬТАЦИЯ ДЛЯ ПОДРОСТКОВ 12+ ЛЕТ
        </div>
        <div class="main-content">
            <h1>Получите стипендию в топовых ВУЗах Мира с нами!</h1>
            <h2>Личная консультация для школьников</h2>
            <p class="subheading">Как опередить других и получить место в топовом вузе?</p>
            <p>Получайте стабильные и высокие результаты в учебе с помощью индивидуальной стратегии подготовки, даже если ваш ребенок сталкивался с проблемами мотивации и уверенности в своих силах.</p>
            <p>Если у вас не получается обойти конкурентов в Казахстане, значит нужно поставить цель - выйти на мировой уровень!</p>
            <h3>Проблема</h3>
            <p>Ваш ребенок не может обойти одноклассников, и это длится годами? Думаете бросить учебу, потому что не догнать конкурентов? Такие мысли могут возникать на основе прошлого опыта ошибок и достижений.</p>
            <h3>Решение</h3>
            <p>Я занимаюсь подготовкой ментала отстающих в учебе и спорте с 2008 года. Мой опыт охватывает чемпионаты РК, чемпионаты мира, подготовку к олимпиадам и поступление в топовые ВУЗы. За это время я помог сотням детей.</p>
            <p>Теперь я предлагаю 40-минутную онлайн-консультацию, включающую:</p>
            <h3>Диагностику и анализ</h3>
        </div>
        <div class="button-container">
            <a href="https://t.me/Malik_assistant_bot" class="button">Подать заявку на консультацию</a>
        </div>
    </div>
</body>
</html>
